<?xml version="1.0"?>
<launch>

    <param name="publisher_speed" value= "10" />

    <include file="$(find assignment_2_2022)/launch/assignment1.launch" />

    <node pkg="rt_assignment" type="firstnode.py" name="firstnode" launch-prefix="gnome-terminal --command" />
    <node pkg="rt_assignment" type="secondnode.py" name="secondnode" launch-prefix="gnome-terminal --command" />
    <node pkg="rt_assignment" type="thirdnode.py" name="thirdnode" launch-prefix="gnome-terminal --command" />  
    <node pkg="rt_assignment" type="fourthnode.py" name="fourthnode" launch-prefix="gnome-terminal --command" />  
</launch>
